{% if product.metafields.custom.features_details != blank %}
  <div class="product_features drawers-container-child">
    <div class="drawer features-detail__drawer">
      <div class="drawer__inner">
        <div class="drawer__header features-detail__header">
          <div class="drawer__header-title features-detail__header-title">Features &amp; Details</div>
          <a href="javascript:void(0);" class="features-detail__close">
            <svg
              enable-background="new 0 0 386.667 386.667"
              height="512"
              viewBox="0 0 386.667 386.667"
              width="512"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentcolor"
              class="icon icon-close"
            >
              <path d="m386.667 45.564-45.564-45.564-147.77 147.769-147.769-147.769-45.564 45.564 147.769 147.769-147.769 147.77 45.564 45.564 147.769-147.769 147.769 147.769 45.564-45.564-147.768-147.77z"></path>
            </svg>
            <span class="sr-only">Close features detail drawer</span></a
          >
        </div>
        <div class="darwer__body-contents features-detail__body">
          {{ product.metafields.custom.features_details | metafield_tag }}
        </div>
      </div>
    </div>
    <div class="drawer-backdrop"></div>
  </div>
{% endif %}
