
<div class="inner_search container">
<predictive-search>
  <form action="{{ routes.search_url }}" method="get" role="search">
    <input
      id="Search"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      role="combobox"
      aria-expanded="false"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-results"
      aria-haspopup="listbox"
      aria-autocomplete="list"
      placeholder="Search"
    >
 
     <span class="close-btn">{%- render 'icon' with 'close' -%}</span>
    <input name="options[prefix]" type="hidden" value="last">
  
    
  </form>
    <div id="predictive-search" class="predictive-search" tabindex="-1"></div>
</predictive-search>

</div>

<div class="bg-overlay"></div>