<div id="look_drawer">
  <div class="drawers-container-child">
    <div class="drawer look-drawer">
      <div class="drawer__inner">
        <div class="drawer__header look-drawer__header">
          <div class="drawer__header-title look-drawer__header-title">Shop This Look</div>
          <button class="drawer__close icon-close">
            <svg
              enable-background="new 0 0 386.667 386.667"
              height="512"
              viewBox="0 0 386.667 386.667"
              width="512"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentcolor"
              class="icon icon-close"
            >
              <path d="m386.667 45.564-45.564-45.564-147.77 147.769-147.769-147.769-45.564 45.564 147.769 147.769-147.769 147.77 45.564 45.564 147.769-147.769 147.769 147.769 45.564-45.564-147.768-147.77z"></path>
            </svg>
            <div class="sr-only">Close Look Drawer</div>
          </button>
        </div>
        <div class="drawer__body-contents look-drawer__body">
          <div class="slider-container">
            <div class="swiper look_drawer_slider">
              <div class="swiper-wrapper"></div>
              <!-- redner code -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="drawer-backdrop"></div>
  </div>
</div>
