<div id="look_drawer">
  <div class="drawers-container-child">
    <div class="drawer look-drawer">
      <div class="drawer__inner">
        <div class="drawer__header look-drawer__header">
          <div class="drawer__header-title look-drawer__header-title">Shop This Look</div>
          <button class="drawer__close icon-close">
            {%- render 'icon' with 'close-button' -%}
            <div class="sr-only">Close Look Drawer</div>
          </button>
        </div>
        <div class="drawer__body-contents look-drawer__body">
          <div class="slider-container">
            <div class="swiper look_drawer_slider">
              <div class="swiper-wrapper"></div>
              <!-- redner code -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="drawer-backdrop"></div>
  </div>
</div>
