{%- for block in section.blocks -%}
  {%- if  block.type == 'size-chart' -%}
    {%- if block.settings.sizechart != blank -%}
      <div class="product_sizechart drawers-container-child ">
          <div class="drawer fit-guide__drawer col-lg-10">
            <div class="drawer__inner fit-guide__inner">
              <div class="drawer__header fit-guide__header">
                <div class="drawer__header-title fit-guide__header-title">Size Guide</div>
                <a href="javascript:void(0);" class="drawer__close fit-guide__close">
                  {%- render 'icon' with 'close-button' -%}
                  <span class="sr-only">Close size guide</span>
                </a>
              </div>
            
              <div class="drawer__body-contents fit-guide__body">
                <div class="fit-guide__gallery-container"><img src="{{ block.settings.chart_image | image_url }}"></div>
                <div class="fit-guide__gallery-description-content">{{ block.settings.sizechart }}</div>
      
              </div>
            </div>
          </div>
          <div class="drawer-backdrop"></div>
        </div>   
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}