<div class="product_sizechart drawers-container-child 123">
    <div class="drawer fit-guide__drawer col-lg-10">
      <div class="drawer__inner fit-guide__inner">
        <div class="drawer__header fit-guide__header">
          <div class="drawer__header-title fit-guide__header-title">Size Guide</div>
          <a href="javascript:void(0);" class="drawer__close fit-guide__close">
            <svg enable-background="new 0 0 386.667 386.667" height="512" viewBox="0 0 386.667 386.667" width="512" xmlns="http://www.w3.org/2000/svg" fill="currentcolor" class="icon icon-close">
              <path d="m386.667 45.564-45.564-45.564-147.77 147.769-147.769-147.769-45.564 45.564 147.769 147.769-147.769 147.77 45.564 45.564 147.769-147.769 147.769 147.769 45.564-45.564-147.768-147.77z"></path>
            </svg>
            <span class="sr-only">Close size guide</span>
          </a>
        </div>
        <div class="drawer__body-contents fit-guide__body">
          <div class="fit-guide__gallery-container"><img src="https://cdn.shopify.com/s/files/1/0380/4705/6011/t/2/assets/af210819d1b3--municipal-apparel-womens-tomboy-tshirt-fit-6fdedb.jpg?v=1694646170&amp;width=640"></div>
<div class="fit-guide__gallery-description-content">Brook is 5'8" wearing size S</div>
<table class="fit-guide__table responsible-table table-striped
               fit-guide__table--with-name">
<thead>
<tr>
<th></th>
<th><b>Chest</b></th>
<th><b>Waist</b></th>
<th><b>Height</b></th>
</tr>
</thead>
<tbody>
<tr>
<td><b>XS</b></td>
<td>32-33.5</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><b>S</b></td>
<td>34-35.5</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><b>M</b></td>
<td>36-38</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><b>L</b></td>
<td>39-41</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><b>XL</b></td>
<td>42-44</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><b>2XL</b></td>
<td>44-46</td>
<td>-</td>
<td>-</td>
</tr>
</tbody>
</table>
        </div>
      </div>
    </div>
    <div class="drawer-backdrop is-visible"></div>
  </div>