{% if section.settings.size_chart != blank and section.settings.size_chart.content != blank %}
  <div class="product_sizechart drawers-container-child">
    <div class="drawer fit-guide__drawer col-lg-10">
      <div class="drawer__inner fit-guide__inner">
        <div class="drawer__header fit-guide__header">
          <div class="drawer__header-title fit-guide__header-title">Size Guide</div>
          <a href="javascript:void(0);" class="drawer__close fit-guide__close">
            <svg
              enable-background="new 0 0 386.667 386.667"
              height="512"
              viewBox="0 0 386.667 386.667"
              width="512"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentcolor"
              class="icon icon-close"
            >
              <path d="m386.667 45.564-45.564-45.564-147.77 147.769-147.769-147.769-45.564 45.564 147.769 147.769-147.769 147.77 45.564 45.564 147.769-147.769 147.769 147.769 45.564-45.564-147.768-147.77z"></path>
            </svg>
            <span class="sr-only">Close size guide</span>
          </a>
        </div>
        <div class="drawer__body-contents fit-guide__body">
          {{ section.settings.size_chart.content }}
        </div>
      </div>
    </div>
    <div class="drawer-backdrop"></div>
  </div>
{% endif %}
