{%- assign block_id =  block.id | split : "__"  -%}
{%- assign render_block = true -%}
{%- liquid
   # This function helps in verifying the block isn't nested inside group.
   for id in block_id
     unless forloop.last
       if id contains 'group'
         assign render_block = false
       endif
      endunless
   endfor
-%}
{%- if render_block == true -%}
<div class="group">
  {% content_for 'blocks' %}
</div>
{%- endif -%}

{% schema %}
{
  "name": "Group",
  "blocks": [{"type": "@app"}, {"type": "@theme"}],
  "presets": [
    {
      "name": "Group",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "This is a text block inside a group block!"
          }
        }
      ]
    }
  ]
}
{% endschema %}
