   <div class="hero__video-container">

    <video
      data-background-video
      autoplay
      loop
      muted
      playsinline
    >
      {%- if section.settings.video_sec != blank -%}
        <source
          type="video/mp4"
          src="{{ section.settings.video_sec }}"
          data-mp4-video
        >
      {%- else -%}
        <source
          type="video/mp4"
          src="https://cdn.shopify.com/videos/c/o/v/dca3da5ba23f4dc4a4bbec7fb73f778d.mp4"
          data-mp4-video
        >
      {%- endif -%}
    </video>
    
  </div>
 
 {% schema %}
  {
    "name": "New - Hero-vieo",
    "settings": []
  }
{% endschema %}