{% for bl in block.blocks %}
  {{ bl.id }}
{% endfor %}
<div class="section-stack__main" {{ block.shopify_attributes }}>
  <div class="accordion-box rounded bg-secondary">
    {%- content_for "blocks" -%}
  </div>
</div>
{% schema %}
  {
    "name": "NEW - FAQs Group",
    "tag": null,
    "blocks": [{"type": "@theme"}],
    "settings": [],
    "presets": [
      {
        "name": "NEW - FAQs Group"
      }
    ]
  }
{% endschema %}