{%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
<div {{ block.shopify_attributes }}>
  <a href="{{ block.settings.button_link }}" class="{%- if block.settings.link_button -%} btn-link {%- else -%}btn block-btn btn-white-m hero__btn{%- endif -%}">
    {{ block.settings.button_text }} 
  </a>
</div> 
{%- endif -%}


 {% schema %}
  {
    "name": "New - Button",
    "tag": null,
    "settings": [
    {
    "type": "text",
    "id": "button_text",
    "label": "Button Text",
    "default": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Url",
      "default": "/"
    },
    {
      "type": "checkbox",
      "id": "link_button",
      "label": "Link Button"
    },
    {
       "type": "select",
        "id": "tag",
        "label": "Select Button type",
        "options": [
          {
            "value": "product-button",
            "label": "Squre Button"
          },
          {
            "value": "line-button",
            "label": "Under Line button"
          },
          {
            "value": "ovel-buttonn",
            "label": "Ovel button"
          }
        ]
    }
    ],
    "presets" : [
      {
        "name": "New - Button"
      }
    ]
  }
{% endschema %}