<style>
  .block-btn{
    color:
  }
</style>

{%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
  <div>
        <a href="{{ block.settings.button_link }}" class="btn block-btn btn-white-m hero__btn">
          {{ block.settings.button_text }}
        </a>
</div>
{%- endif -%}
 {% schema %}
  {
    "name": "New - Button",
    "settings": [
       {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Url"
    },
     {
       "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default":"#000"
    },
    {
       "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default":"#000"
    }
    ],
    "presets" : [
      {
        "name": "New - Button"
      }
    ]
  }
{% endschema %}