
 
  <div>
        <a href="{{ section.settings.button_link }}" class="btn btn-white btn-white-m hero__btn">
          {{ section.settings.button }}
        </a>
      </div>
 {% schema %}
  {
    "name": "New - Button",
    "settings": []
  }
{% endschema %}