{%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
<div {{ block.shopify_attributes }}>
  <a href="{{ block.settings.button_link }}" class="{%- if block.settings.link_button -%} btn-link {%- else -%}btn block-btn btn-white-m hero__btn{%- endif -%}">
    {{ block.settings.button_text }} 
  </a>
</div> 
{%- endif -%}


 {% schema %}
  {
    "name": "New - Button",
    "tag": null,
    "settings": [
       {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Url",
      "default": "/"
    },
    {
      "type": "checkbox",
      "id": "link_button",
      "label": "Link Button"
    },
     {
       "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default":"#fff"
    },
    {
       "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default":"#000"
    },
    {
          "type": "range",
          "id": "border_radius",
          "label": "Border Radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 90
        }
    ],
    "presets" : [
      {
        "name": "New - Button"
      }
    ]
  }
{% endschema %}