{%- assign block_id =  block.id | split : "__"  -%}
{%- assign render_block = true -%}
{%- liquid
   # Verify the group isn't nested
   for id in block_id
     unless forloop.last
       if id contains 'group'
         assign render_block = false
       endif
      endunless
   endfor
-%}
{%- if render_block == true -%}
<div class="section-stack__main" {{ block.shopify_attributes }}>
  <div class="accordion-box rounded bg-secondary">
    {%- content_for "blocks" -%}
  </div>
</div>
{%- endif -%}
{% schema %}
  {
    "name": "NEW - FAQs Group",
    "tag": null,
    "blocks": [{"type": "@theme"}],
    "settings": [],
    "presets": [
      {
        "name": "NEW - FAQs Group"
      }
    ]
  }
{% endschema %}