{%- assign block_id =  block.id | split : "__"  -%}
{%- assign render_block = true -%}
{%- liquid
   # This function helps in verifying the block isn't nested inside group.
   for id in block_id
     unless forloop.last
       if id contains 'group'
         assign render_block = false
       endif
      endunless
   endfor
-%}
{%- if render_block == true -%}
  {%- if block_id[1] contains 'faq' -%}
    <div class="section-stack__intro" {{ block.shopify_attributes }}>
      <div class="v-stack gap-10">
        <div class="prose ">
          {%- content_for 'blocks' -%}
        </div>
      </div>
    </div>
  {%- else -%}
    <div class="row" {{ block.shopify_attributes }}>
      <div class="card-slider__heading">
        <div class="card-slider__info-container">
          {%- content_for 'blocks' -%}
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "NEW - Content Group",
  "tag": null,
  "blocks": [{"type": "@theme"}],
  "settings": [],
  "presets": [
    {
      "name": "NEW - Content Group"
    }
  ]
}
{% endschema %}