{% if block.settings.heading != blank %}
<h2 class="card-slider__title h2">{{ block.settings.heading }}</h2>
{% endif %}
{% schema %}
  {
    "name": "Heading",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default":"NEW DROPS"
     }
    ],
    "presets": [
      {
        "name": "Heading"
      }
    ]
  }
{% endschema %}