   <div class="hero__video-container">

    <video
      data-background-video
      autoplay
      loop
      muted
      playsinline
    >
      {%- if block.settings.video_sec != blank -%}
        <source
          type="video/mp4"
          src="{{ block.settings.video_sec }}"
          data-mp4-video
        >
      {%- else -%}
        <source
          type="video/mp4"
          src="https://cdn.shopify.com/videos/c/o/v/dca3da5ba23f4dc4a4bbec7fb73f778d.mp4"
          data-mp4-video
        >
      {%- endif -%}
    </video>
    
  </div>
    <div class="hero__inner col-20 col-lg-11">
    {%- if block.settings.image != blank -%}
      <img
        src="{{ block.settings.image | image_url: "368x" }}"
        srcset="{{ block.settings.image | image_url: "368x" }}"
        class="hero__title-image"
        sizes="100vw"
        loading="lazy"
        alt="Video image"
        width="368"
        height="300"
      >
    {%- endif -%}
    </div>
 
 {% schema %}
  {
    "name": "New - Hero-video",
    "settings": [
        {
          "type": "text",
          "id": "video_sec",
          "label": "Video Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
    ]
  }
{% endschema %}