{%- if block.settings.button != blank and block.settings.button_link != blank -%}
  <div>
        <a href="{{ block.settings.button_link }}" class="btn btn-white btn-white-m hero__btn">
          {{ block.settings.button }}
        </a>
</div>
{%- endif -%}
 {% schema %}
  {
    "name": "New - Button",
    "settings": [
       {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    }
    ],
    "presets" : [
      {
        "name": "New - Button"
      }
    ]
  }
{% endschema %}