<div id="tab_{{ block.id }}" class="tab_inner" {{ block.shopify_attributes }}>
  {% content_for 'blocks' %}
</div>
{% schema %}
  {
    "name": "NEW - Menu tab",
    "tag" : null,
    "blocks": [{"type":"@theme"}],
    "settings": [
       {
         "type": "text",
         "id":"title",
         "label": "Tab title",
         "default": "Men"
       }
    ],
    "presets":[
      {
        "name": "NEW - Menu tab"
      }
    ]
  }
{% endschema %}