{%- if block.blocks.size > 0 -%}
<div class="section section-{{ block.settings.section-type }} section-{{ block.settings.box-type }} bg-{{ block.settings.section-color }}" {{ block.shopify_attributes }}>
  {%- content_for 'blocks' -%}
</div>
{%- endif -%}
 {% schema %}
  {
    "name": "NEW - Box",
    "tag": null,
    "blocks": [{"type": "@theme"},{"type": "@app"}],
    "settings": [
      {
        "type": "select",
        "id": "box-type",
        "label": "Box type",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          },
          {
            "value": "full-width",
            "label": "Full width"
          }
        ],
        "default": "boxed"
      },
      {
        "type": "select",
        "id": "box-border",
        "label": "Box border",
        "options": [
          {
            "value": "rounded",
            "label": "Rounded"
          },
          {
            "value": "sharp",
            "label": "Sharp"
          }
        ],
        "default": "sharp"
      },
      {
        "type": "select",
        "id": "box-color",
        "label": "Box background",
        "options": [
          {
            "value": "dark",
            "label": "Dark"
          },
          {
            "value": "light",
            "label": "Light"
          }
        ],
        "default": "dark"
      }
    ],
    "presets": [
      {
        "name": "NEW - Box"
      }
    ]
  }
{% endschema %}
{% style %}
  .bg-dark{
    background: #ccc;
  }
{% endstyle %}