{% if block.settings.caption != blank and block.settings.link != blank %}
  <a
    href="{{ block.settings.link }}"
    target=""
    data-shopify-editor-block=""
    class="cta  cta--bottom-space"
    ><span class="cta__label"> {{ block.settings.caption }} </span>
    <div class="cta__icon"><span class="cta__arrow-icon"></span></div>
  </a>
{% endif %}
{% schema %}
  {
    "name": "NEW - Menu card cta",
    "tag": null,
    "settings": [
       {
         "type": "text",
         "id":"caption",
         "label": "Tab 1 Button Caption",
         "default": "Shop All Men's Gear"
       },
       {
         "type": "url",
         "id":"link",
         "label": "Tab 1 Button Link"
       }
    ],
    "presets":[
      {
        "name": "NEW - Menu card cta"
      }
    ]
  }
{% endschema %}