{% if block.settings.title != blank %}
  <div class="card-grid__title">{{ block.settings.title }}</div>
{% endif %}
<div class="card-grid__grid">
  {%- content_for "blocks"  -%}
</div>
{% schema %}
  {
    "name": "NEW - Menu card wrapper",
    "tag": "div",
    "class": "card-grid",
    "blocks": [{"type":"@theme"}],
    "settings": [
      {
       "type": "text",
       "id":"title",
       "label": "Tab title",
       "default": "Men"
     }
    ],
    "presets":[
      {
        "name": "NEW - Menu card wrapper",
        "blocks": [
          {
            "type": "text",
            "settings": {
              "text": "This is a slide!"
            }
          }
        ]
      }
    ]
  }
{% endschema %}