{% if block.settings.title != blank %}
  <div class="navigation-carousel__title">{{ block.settings.title }}</div>
{% endif %}
<div class="navigation-carousel__slider swiper swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden">
  <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
    {% content_for "blocks" %}
  </div>
  <div class="navigation-carousel__arrows-container">
    <div data-arrow-prev="true" class="navigation-carousel__arrow--prev swiper-button-disabled"></div>
    <div data-arrow-next="true" class="navigation-carousel__arrow--next"></div>
  </div>
</div>

{% schema %}
{
  "name": "NEW - Menu carousel",
  "tag": "div",
  "class": "navigation-carousel",
  "settings": [
    {
       "type": "text",
       "id":"title",
       "label": "Title",
       "default": "Shop All Men's Gear"
     }
  ],
  "blocks":[{"type":"@theme"}],
  "presets": [
    {
      "name": "NEW - Menu carousel",
      "blocks":[
        {
          "type":"new-menu_carousel_slide"
        },
        {
          "type":"new-menu_carousel_slide"
        },
        {
          "type":"new-menu_carousel_slide"
        },
        {
          "type":"new-menu_carousel_slide"
        }
      ]
    }
  ]
}
{% endschema %}