{%- assign collection = collections[section.settings.feature_collection] -%}
<div class="row card-slider__slider feature_card_slider" data-card-slider>
  <div class="swiper-wrapper">
    {% if collection != blank %}
      {% for product in collection.products limit: section.settings.products_limit %}
        <div class="swiper-slide" data-card-slide>
          {% include 'product_items', product: product %}
        </div>
      {% endfor %}
    {% else %}
      {% include 'place_items' %}
    {% endif %}
  </div>
</div>
<div class="feature_paginate swiper-pagination" data-scrollbar></div>
<div class="card-slider__arrow swiper-button-prev feature_prev" data-slider-arrow-prev></div>
<div class="card-slider__arrow swiper-button-next feature_next" data-slider-arrow-next></div>

{% schema %}
  {
    "name": "NEW - Collection Carousel",
    "settings": [
     {
       "type": "collection",
       "id":"feature_collection",
       "label": "Collection"
     },
     {
      "type": "range",
      "id": "products_limit",
      "min": 4,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Products Limit",
      "default": 6
     }
    ],
    "presets": [
      {
        "name":"NEW - Collection Carousel"
      }
    ]
  }
{% endschema %}