{% if block.settings.content != blank %}
  <div class="card-slider__content {{ tag }}" {{ block.shopify_attributes }}>{{ block.settings.content }}</div>
{% endif %}

{% schema %}
  {
    "name": "NEW - Content",
    "settings": [
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default":"<p>The latest Sport Utility Gear to hit the site.</p>"
      },
      {
        "type": "select",
        "id": "tag",
        "label": "Select Size",
        "options": [
          {
            "value": "p1",
            "label": "Small"
          },
          {
            "value": "p2",
            "label": "Medium"
          },
          {
            "value": "p3",
            "label": "Large"
          }
        ],
        "default": "p3"
      }
    ],
    "presets": [
      {
        "name": "NEW - Content"
      }
    ]
  }
{% endschema %}