<p class="text">
  {{ block.settings.text }}
  {% content_for 'blocks' %}
</p>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Welcome to our shop!"
    }
  ],
  "presets": [
    {
      "name": "Text"
    }
  ]
}
{% endschema %}