<div id="look_drawer">
  <div class="drawers-container-child">
    <div class="drawer look-drawer">
      <div class="drawer__inner">
        <div class="drawer__header look-drawer__header">
          <div class="drawer__header-title look-drawer__header-title">Shop This Look</div>
          <button class="drawer__close icon-close">
            <svg
              enable-background="new 0 0 386.667 386.667"
              height="512"
              viewBox="0 0 386.667 386.667"
              width="512"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentcolor"
              class="icon icon-close"
            >
              <path d="m386.667 45.564-45.564-45.564-147.77 147.769-147.769-147.769-45.564 45.564 147.769 147.769-147.769 147.77 45.564 45.564 147.769-147.769 147.769 147.769 45.564-45.564-147.768-147.77z"></path>
            </svg>
            <div class="sr-only">Close Look Drawer</div>
          </button>
        </div>
        <div class="drawer__body-contents look-drawer__body">
          <div class="slider-container">
            <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
              <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(95.5px, 0px, 0px);">
                <div class="swiper-slide swiper-slide-active" style="width: 367px; margin-right: 15px;">
                  <div class="look-drawer__product-card">
                    <div class="look-drawer__product-card-image-container frame frame--1x1">
                      <img
                        src="//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122"
                        srcset="//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=48 48w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=90 90w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=106 106w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=112 112w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=256 256w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=320 320w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=375 375w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=480 480w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=640 640w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=750 750w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=828 828w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=1080 1080w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=1200 1200w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=1920 1920w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=2048 2048w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-t-shirt_black_MMTEE122_front.jpg?v=1694730122&amp;width=3840 3840w"
                        sizes="(max-width=992px) 66w,374px"
                        alt=""
                        class="look-drawer__product-card-image frame__inner lazyloaded"
                      >
                    </div>
                    <span class="look-drawer__product-card-color">Black</span>
                    <div class="look-drawer__product-card-title h6">4:AM Club T-Shirt</div>
                    <form action="/cart/add.js" data-product-form="true" class="look-drawer__product-card-form">
                      <input type="hidden" name="option1" value="Black"><input type="hidden" name="option2"
                      ><button
                        type="button"
                        data-current-color="Black"
                        data-color-index="option1"
                        data-print-option="Size"
                        data-print-option-key="option2"
                        class="btn btn-outline-primary btn-block product-option__drawer-btn "
                      >
                        <span
                          data-option-text="option1"
                          data-print-option="Size"
                          class="button__text"
                          style="pointer-events: none;"
                          >Select Size</span
                        >
                        <div class="btn__ui" style="pointer-events: none;">
                          <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 21 20"
                            fill="currentcolor"
                            class="icon icon-caret-down undefined"
                            style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 2;"
                          >
                            <g id="Artboard1" transform="matrix(1.1914,0,0,2.03916,-496.555,-470.213)"><rect x="416.784" y="230.591" width="16.8" height="9.8" style="fill: none;"></rect><g transform="matrix(0.839351,0,0,0.490397,371.885,1421.66)"><path d="M63.5,-2413.9L55.1,-2422.3L56.5,-2423.7L63.5,-2416.7L70.5,-2423.7L71.9,-2422.3L63.5,-2413.9Z" style="fill-rule: nonzero;"></path></g></g>
                          </svg>
                        </div></button
                      ><button data-add-to-cart-button="true" disabled="" class="btn btn-primary btn-block">
                        ADD TO BAG<span data-product-price="true" class="look-drawer__product-card-price"
                          ><span data-product-price="true" class="product-price">$45</span></span
                        ></button
                      ><input type="hidden" name="id" value="41472335741067"
                      ><a
                        href="/products/4am-club-t-shirt?_pos=2&amp;_sid=b66d6af24&amp;_ss=r?variant=41472335741067"
                        data-product-url="/products/4am-club-t-shirt?variant=41472335741067"
                        class="look-drawer__product-card-link btn btn-link"
                        >View this product</a
                      >
                    </form>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-next" style="width: 367px; margin-right: 15px;">
                  <div class="look-drawer__product-card">
                    <div class="look-drawer__product-card-image-container frame frame--1x1">
                      <img
                        src="//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648"
                        srcset="//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=48 48w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=90 90w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=106 106w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=112 112w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=256 256w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=320 320w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=375 375w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=480 480w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=640 640w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=750 750w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=828 828w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=1080 1080w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=1200 1200w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=1920 1920w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=2048 2048w,//municipal.com/cdn/shop/products/municipal-apparel_4am-club-training-shorts_black_MMSHR116_front.jpg?v=1681286648&amp;width=3840 3840w"
                        sizes="(max-width=992px) 66w,374px"
                        alt=""
                        class="look-drawer__product-card-image frame__inner lazyloaded"
                      >
                    </div>
                    <span class="look-drawer__product-card-color">Black</span>
                    <div class="look-drawer__product-card-title h6">4:AM Club Training Short</div>
                    <form action="/cart/add.js" data-product-form="true" class="look-drawer__product-card-form">
                      <input type="hidden" name="option1" value="Black"><input type="hidden" name="option2"
                      ><button
                        type="button"
                        data-current-color="Black"
                        data-color-index="option1"
                        data-print-option="Size"
                        data-print-option-key="option2"
                        class="btn btn-outline-primary btn-block product-option__drawer-btn "
                      >
                        <span
                          data-option-text="option1"
                          data-print-option="Size"
                          class="button__text"
                          style="pointer-events: none;"
                          >Select Size</span
                        >
                        <div class="btn__ui" style="pointer-events: none;">
                          <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 21 20"
                            fill="currentcolor"
                            class="icon icon-caret-down undefined"
                            style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 2;"
                          >
                            <g id="Artboard1" transform="matrix(1.1914,0,0,2.03916,-496.555,-470.213)"><rect x="416.784" y="230.591" width="16.8" height="9.8" style="fill: none;"></rect><g transform="matrix(0.839351,0,0,0.490397,371.885,1421.66)"><path d="M63.5,-2413.9L55.1,-2422.3L56.5,-2423.7L63.5,-2416.7L70.5,-2423.7L71.9,-2422.3L63.5,-2413.9Z" style="fill-rule: nonzero;"></path></g></g>
                          </svg>
                        </div></button
                      ><button data-add-to-cart-button="true" disabled="" class="btn btn-primary btn-block">
                        ADD TO BAG<span data-product-price="true" class="look-drawer__product-card-price"
                          ><span data-product-price="true" class="product-price">$68</span></span
                        ></button
                      ><input type="hidden" name="id" value="41250524528779"
                      ><a
                        href="/products/4am-club-training-short?_pos=3&amp;_sid=b66d6af24&amp;_ss=r?variant=41250524528779"
                        data-product-url="/products/4am-club-training-short?variant=41250524528779"
                        class="look-drawer__product-card-link btn btn-link"
                        >View this product</a
                      >
                    </form>
                  </div>
                </div>
                <div class="swiper-slide" style="width: 367px; margin-right: 15px;">
                  <div class="look-drawer__product-card">
                    <div class="look-drawer__product-card-image-container frame frame--1x1">
                      <img
                        src="//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707"
                        srcset="//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=48 48w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=90 90w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=106 106w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=112 112w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=256 256w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=320 320w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=375 375w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=480 480w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=640 640w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=750 750w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=828 828w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=1080 1080w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=1200 1200w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=1920 1920w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=2048 2048w,//municipal.com/cdn/shop/products/municipal-apparel_sport-utility-crew-sock_slime_MASOK100_front.jpg?v=1667868707&amp;width=3840 3840w"
                        sizes="(max-width=992px) 66w,374px"
                        alt=""
                        class="look-drawer__product-card-image frame__inner lazyloaded"
                      >
                    </div>
                    <span class="look-drawer__product-card-color">Slime</span>
                    <div class="look-drawer__product-card-title h6">Sport Utility Crew Sock</div>
                    <form action="/cart/add.js" data-product-form="true" class="look-drawer__product-card-form">
                      <input type="hidden" name="option1" value="Slime"><input type="hidden" name="option2"
                      ><button
                        type="button"
                        data-current-color="Slime"
                        data-color-index="option1"
                        data-print-option="Size"
                        data-print-option-key="option2"
                        class="btn btn-outline-primary btn-block product-option__drawer-btn "
                      >
                        <span
                          data-option-text="option1"
                          data-print-option="Size"
                          class="button__text"
                          style="pointer-events: none;"
                          >Select Size</span
                        >
                        <div class="btn__ui" style="pointer-events: none;">
                          <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 21 20"
                            fill="currentcolor"
                            class="icon icon-caret-down undefined"
                            style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 2;"
                          >
                            <g id="Artboard1" transform="matrix(1.1914,0,0,2.03916,-496.555,-470.213)"><rect x="416.784" y="230.591" width="16.8" height="9.8" style="fill: none;"></rect><g transform="matrix(0.839351,0,0,0.490397,371.885,1421.66)"><path d="M63.5,-2413.9L55.1,-2422.3L56.5,-2423.7L63.5,-2416.7L70.5,-2423.7L71.9,-2422.3L63.5,-2413.9Z" style="fill-rule: nonzero;"></path></g></g>
                          </svg>
                        </div></button
                      ><button data-add-to-cart-button="true" disabled="" class="btn btn-primary btn-block">
                        ADD TO BAG<span data-product-price="true" class="look-drawer__product-card-price"
                          ><span data-product-price="true" class="product-price">$16</span></span
                        ></button
                      ><input type="hidden" name="id" value="40786646794379"
                      ><a
                        href="/products/sport-utility-crew-sock?_pos=1&amp;_sid=b66d6af24&amp;_ss=r?variant=40786646794379"
                        data-product-url="/products/sport-utility-crew-sock?variant=40786646794379"
                        class="look-drawer__product-card-link btn btn-link"
                        >View this product</a
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-arrow-prev="true"
              class="look-drawer__arrow look-drawer__arrow--prev swiper-button-disabled"
            ></div>
            <div data-arrow-next="true" class="look-drawer__arrow look-drawer__arrow--next"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="drawer-backdrop"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Look Drawer",
    "settings": [],
    "presets": [
      {
        "name": "Look Collection"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}