{%- if section.blocks.size > 0 -%}
  <div class="section section-boxed bg-custom">
    <div class="section-stack section-stack--horizontal ">
      {%- content_for 'blocks' -%}
    </div>
  </div>
{%- endif -%}

{%- stylesheet -%}
  
{%- endstylesheet -%}

{% schema %}
  {
    "name": "NEW - FAQ",
    "class": "faq_box card-slider",
    "settings": [],
    "tag": "section",
    "blocks": [{"type": "@theme"}],
    "presets":[
      {
        "name": "NEW - FAQ"
      }
    ]
  }
{% endschema %}