<div
  id="hero-{{ section.id }}"
  class="hero container-fluid hero--vertical-center hero--horizontal-left hero--horizontal-left-m hero--vertical-bottom-m"
  data-section-id="{{ section.id }}"
  data-section-type="hero"
>
  {% content_for 'blocks' %}
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}