{%- if section.blocks.size > 0 -%}
  <link href="{{ 'collage.css' | asset_url }}" rel="stylesheet" type="text/css">
  <section id="collage_custom" class="card-slider container-fluid shopify-section shopify-section--media-grid">
    <div class="section   section-blends section-full">
        {%- content_for 'blocks' -%}
    </div>
  </section>
{%- endif -%}
{% schema %}
  {
    "name": "New - Collage",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets":[
      {
        "name": "New - Collage"
      }
    ]
  }
{% endschema %}