<div
  id="link-card-slider-165781066364b1fa9f"
  class="card-slider "
  data-section-type="product-card-slider"
  data-section-id="165781066364b1fa9f"
>
  <style>
    #link-card-slider-165781066364b1fa9f {
      background-color: #f5f5f6;
      color: #121212;
    }

    #link-card-slider-165781066364b1fa9f .product-card__add-to-cart {
      color: #121212;
      border-color: #121212;
    }
  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="card-slider__heading">
        {% content_for 'blocks' %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "NEW - Featured Collection",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets": [
      {
        "name": "NEW - Featured Collection"
      }
    ]
  }
{% endschema %}