{%- if section.blocks.size > 0 -%}
<div class="section section-boxed bg-custom faq_box">
  <div class="section-stack section-stack--horizontal ">
    {%- content_for 'blocks' -%}
  </div>
</div>
{%- endif -%}


{% schema %}
  {
    "name": "New - Faq-box",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets":[
      {
        "name": "New - Faq-box"
      }
    ]
  }
{% endschema %}