{%- if section.blocks.size > 0 -%}
 <div
  id="hero-{{ section.id }}"
  class="hero container-fluid hero--vertical-center hero--horizontal-center hero--horizontal-center-m hero--vertical-center-m"
  data-section-id="16518471114edcf1ed"
  data-section-type="hero"
>
    {%- content_for 'blocks' -%}
 </div>
{%- endif -%}
{% schema %}
  {
    "name": "New - Hero-video",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets":[
      {
        "name": "New - Hero-video"
      }
    ]
  }
{% endschema %}