{%- if section.blocks.size > 0 -%}
<div class="section section-boxed bg-custom">
  <div class="section-stack section-stack--horizontal ">
    {%- content_for 'blocks' -%}
  </div>
</div>
{%- endif -%}


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}