{% if section.blocks.size > 0 %}
<div
  id="link-card-slider-{{ section.id }}"
  class="card-slider "
  data-section-type="product-card-slider"
  data-section-id="{{ section.id }}"
>
  <style>
    #link-card-slider-{{ section.id }} {
      background-color: #f5f5f6;
      color: #121212;
    }

    #link-card-slider-{{ section.id }} .product-card__add-to-cart {
      color: #121212;
      border-color: #121212;
    }
  </style>
  <div class="container-fluid">
    {% content_for 'blocks' %}
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "NEW - Featured Collection",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets": [
      {
        "name": "NEW - Featured Collection"
      }
    ]
  }
{% endschema %}