{% if section.blocks.size > 0 %}
<div id="link-card-slider-{{ section.id }}" class="card-slider " data-section-type="product-card-slider" data-section-id="{{ section.id }}">
  <div class="container-fluid">
    {% content_for 'blocks' %}
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "NEW - Featured Collection",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets": [
      {
        "name": "NEW - Featured Collection"
      }
    ]
  }
{% endschema %}