<div
  id="hero-{{ section.id }}"
  class="hero container-fluid hero--vertical-center hero--horizontal-left hero--horizontal-left-m hero--vertical-bottom-m"
  data-section-id="{{ section.id }}"
  data-section-type="hero"
>
    {% content_for 'blocks' %}
</div>
{% schema %}
  {
    "name": "Hero banner",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets":[
      {
        "name": "New - Hero banner"
      }
    ]
  }
{% endschema %}