{%- if section.blocks.size > 0 -%}
  <div class="section section-{{ section.settings.section-type }} bg-{{ section.settings.section-color }}">
    <div class="section-stack section-stack--horizontal ">
      {%- content_for 'blocks' -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "NEW - FAQ",
    "class": "faq_box card-slider",
    "settings": [
      {
        "type": "select",
        "id": "section-type",
        "label": "Section type",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          },
          {
            "value": "full-width",
            "label": "Full width"
          }
        ],
        "default": "boxed"
      },
      {
        "type": "select",
        "id": "box-type",
        "label": "Box type",
        "options": [
          {
            "value": "rounded",
            "label": "Rounded"
          },
          {
            "value": "sharp",
            "label": "Sharp"
          }
        ],
        "default": "rounded"
      },
      {
        "type": "select",
        "id": "section-color",
        "label": "Section background",
        "options": [
          {
            "value": "dark",
            "label": "Dark"
          },
          {
            "value": "light",
            "label": "Light"
          }
        ],
        "default": "dark"
      }
    ],
    "tag": "div",
    "blocks": [{"type": "@theme"}],
    "presets":[
      {
        "name": "NEW - FAQ"
      }
    ]
  }
{% endschema %}