.faq_box .accordion__toggle.active span i {
  transform: rotate(180deg);
}
button.quantity-adjuster__decrement[disabled],
.quantity-adjuster__increment[disabled] {
  opacity: 0.3;
}
.product-gallery__arrow.product-gallery__arrow_next {
  transform: rotate(180deg);
}
.ajax-cart__empty-title,
.ajax-cart__empty-text {
  color: #ffffff;
}
.ajax-cart__empty-highlight-text {
  color: #ff00ff;
}
#ajax_cart input::-webkit-outer-spin-button,
#ajax_cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#ajax_cart input[type="number"] {
  -moz-appearance: textfield;
}
input.quantity-adjuster__input {
  -webkit-appearance: text;
  appearance: text;
  background-color: #fff;
  color: #121212;
  font-size: 13px;
  height: 100%;
  line-height: 36px;
  text-align: center;
  width: 22px;
  border: none;
}
input.quantity-adjuster__input:focus-visible {
  outline: none;
}

.desccontent {
  font-size: 15px;
  line-height: 1.4;
}
.collection-main-grid .que_main_hading h4 {
  margin-left: 0;
}
.collection-main-grid .col_desc {
  background-color: #f5f5f6;
  padding-bottom: 25px;
  padding-top: 25px;
}
.col_desc .que_main_hading span {
  color: #ff3e6c;
}
.sold_out img {
  padding-right: 10px;
}
button.sold_out {
  display: flex;
  background: #ff3e6c;
  border: none;
  color: #fff;
  font-size: 13px;
  font-family: inherit;
  line-height: 1;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  justify-content: center;
  /* 2Dev */
  /* width: 56%; */
  opacity: 0.5;
  /* 2Dev */
  width: 100%;
  margin-bottom: 10px;
}

/* 2Dev */
@media (min-width: 767px) {
  button.sold_out {
    margin-bottom: 0px;
    margin-right: 10px;
  }
}
/* 2Dev */

.load-more_wrap .btn {
  background: #ff3e6c;
}
span.product-facet__sort-by-title.text--subdued {
  font-size: 14px;
  font-weight: 700;
  color: #1a2024;
  line-height: 1;
}
.product-facet__meta-bar-item.product-facet__meta-bar-item--sort {
  /* padding: 10px 10px 8px;
  border-radius: 8px; */
  border: solid 1px #e2ebef;
  background-color: #eff4f7;
  display: flex;
  margin-left: auto;
  cursor: pointer;
  /* 2Dev */
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40px;
}
#sort-by-popover {
  left: unset;
  /* 2Dev */
  min-width: 275px;
  right: -1px;
  /* right: -28px */
  /* 2Dev */
  width: 100%;
  background: #fff;
}
.popover__content {
  padding-top: 0;
  padding-left: 32px;
  padding-right: 32px;
  overflow: auto;
  padding-bottom: 24px;
}
.popover__choice-list {
  white-space: nowrap;
}
label.popover__choice-item:has(input:checked) {
  border-radius: 5px;
  border: solid 1px #399a7d;
  background-color: #ddeee9;
  font-weight: 700;
}
label.popover__choice-item {
  position: relative;
  padding: 10px;
  margin: 8px 0 !important;
  text-align: left;
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.popover__choice-label,
.tag__icon {
  position: relative;
  cursor: pointer;
}
label.popover__choice-item:has(input:checked):after {
  content: "✓";
  font-weight: 700;
  position: absolute;
  transform: rotate(10deg);
  right: 16px;
}
.popover::after,
.popover::before {
  position: absolute;
  content: "";
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 8px;
  right: 24px;
}
.popover::before {
  border-color: transparent transparent rgb(255 255 255) transparent;
  border-width: 9px;
}
.popover-button {
  width: max-content;
}
.popover-container {
  position: relative;
  line-height: 0;
}
.popover-button.hidden-pocket {
  background: transparent;
  border: none;
  font-size: 15px;
}
.popover-button.hidden-pocket i {
  margin-left: 6px;
}
.sort_by_main img {
  max-width: 15px;
  /* width: 100%; */
  display: block;
  /* 2Dev */
  /* height: 100%;
  margin-right: 3px; */
  height: 30%;
  margin-right: 5px;
  margin-left: 10px;
}
.popover {
  position: absolute;
  top: calc(100% + 18px);
  border: 1px solid rgb(221, 222, 222);
  z-index: 2;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  border-radius: min(var(--block-border-radius), 4px);
}
.sort_by_main .popover.active {
  display: block !important;
}
.findify__filters {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 400px !important;
  max-height: 100vh;
  z-index: 9999;
  top: 0;
  background: #fff;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
}
.findify__filters.is-open {
  padding-right: 0 !important;
  transform: translateX(0%);
  /* 2Dev */
  overflow: hidden;
}

.custom-overlay.is-visible {
  background-color: #000c;
  pointer-events: auto;
  transition: background-color 0.4s cubic-bezier(0.34, 0.75, 0.6, 1);
}
.custom-overlay {
  background-color: transparent;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 0.4s cubic-bezier(0.4, 0.5, 0.5, 1);
  z-index: 2400;
}

.p6 {
  color: #000000;
}

#account__layout {
  align-items: center;
  display: flex;
  min-height: 730px;
  overflow: hidden;
  padding: 60px 20px;
}

.link_color_black {
  color: #000000;
}

.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  border: 1px solid #ccc;
  padding: 5px;
}

/* on scroll tab change */
.active_tabs {
  color: #121212;
  background-color: #fff;
}

.scroll_section {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease 1s;
}
.animate {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.row.custom_card_swiper {
  overflow-x: hidden;
}

.product-detail .product-option {
  overflow: hidden !important;
}

.content-slider .swiper-pagination .swiper-pagination-bullet,
.product-gallery .swiper-pagination .swiper-pagination-bullet {
  border-radius: 3px !important;
  height: 3px !important;
  width: 19px !important;
}
.no-js:not(html) {
  display: none !important;
}

.drawer__close {
  overflow-y: hidden;
}

/* #look_drawer .swiper-slide {
    margin-left: 20px;
    margin-right: 20px;
} */
#look_drawer .product-card {
  padding: 0 20px;
}
.custom-loader-overlay:not(.loading) {
  display: none !important;
}
.custom-loader-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
.custom-loader-overlay img {
  max-width: 64px;
}
.large_img_slide:not(.swiper-slide) {
  display: none;
}
.swym-button.swym-add-to-wishlist-view-product {
  display: flex !important;
  align-items: center;
  flex-direction: row-reverse;
  gap: 2px;
  color: #000 !important;
  justify-content: center;
  align-content: center;
}
.swym-button.swym-add-to-wishlist-view-product span {
  font-family: "SequelSans Body";
  padding-left: 5px;
}
/* Cart */
.template-cart .responsive-table-row td {
  text-align: center !important;
  padding-right: 25px;
}

.template-cart .responsive-table-row .cart_quantity input {
  width: 50% !important;
  text-align: center !important;
}
.template-cart table tbody tr {
  height: 200px;
}
.template-cart table tbody tr td p {
  margin-bottom: 15px;
}
.template-cart table thead tr .qty {
  text-align: center;
}
.template-cart table {
  margin: auto;
}
.template-cart h1 {
  margin-top: 15px;
  margin-left: auto;
  width: 95%;
}
.template-cart table thead,
.template-cart table tbody {
  border-bottom: 1px solid;
}
.template-cart .custom_cart_card {
  margin-left: auto;
  width: 30%;
  padding: 25px;
}
.template-cart .custom_cart_card p {
  margin-bottom: 10px;
}

.field__input::-webkit-search-cancel-button,
.customer .field input::-webkit-search-cancel-button {
  display: none;
}
.template-product .swym-button-bar {
  display: none;
}

/* Pagination */
.pagination-wrapper .pagination ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.pagination-wrapper .arrow_previous {
  rotate: 90deg;
  height: 1rem;
  width: 0.4rem;
}
.pagination-wrapper .arrow_next {
  height: 1rem;
  width: 0.4rem;
  rotate: -90deg;
}
/* Search */
.no-js .predictive-search {
  display: none;
}

predictive-search
  main-search
  input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' ><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  fill: #000;
  cursor: pointer;
}
.header predictive-search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

/* Predictive search */
.predictive-search {
  /* position: absolute; */
  background: #fff;
  /* right: 1px; */
  max-height: 250px;
  overflow: auto;
  margin-top: 10px;
  padding: 15px;
}
.predictive-search::-webkit-scrollbar {
  width: 6px;
  background-color: #ddd;
}
.predictive-search::-webkit-scrollbar-thumb {
  background-color: #7c7979;
  border-radius: 5px;
}
.header predictive-search form input {
  width: 90%;
  padding-left: 5px;
  background: transparent;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid var(--swym-remind-cta-text-color);
  color: var(--swym-remind-cta-text-color);
}
.header predictive-search form input:focus-visible {
  border: none;
  outline: none;
  outline-offset: none;
  border-bottom: 2px solid var(--swym-remind-cta-text-color);
}

.predictive-search h6 {
  margin-bottom: 20px;
  font-size: 28px;
}
.predictive-search ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}
.predictive-search ul li {
  margin: 5px 0;
  max-width: 280px;
}
.predictive-search ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.predictive-search ul li span {
  font-size: 18px;
  color: var(--black);
}
.predictive-search button {
  border: none;
  font-size: 13px;
  font-family: inherit;
  line-height: 1;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  justify-content: center;
  width: 100%;
}
#Search::placeholder {
  color: var(--swym-remind-cta-text-color);
}
.template-search .product-grid-container ul {
  list-style: none;
}
.template-search .pagination-wrapper ul li {
  width: 3%;
  font-size: 20px;
  text-align: center;
}
.template-search .pagination-wrapper ul li a {
  color: var(--swym-subscribe-success-text-color);
}
.template-search .product-grid-container li:has(.pagination__item--current) {
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: 21px;
}
.template-search .product-grid-container {
  overflow: hidden;
  padding-right: 40px;
}
.template-search__search .search {
  margin-top: 0;
}
.template-search .template-search__header {
  margin-bottom: 1rem;
}
.template-search .template-search__search {
  margin: 0 auto;
}
.template-search .input-field .field_inner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.template-search main-search .predictive-search {
  z-index: 1;
  width: 50%;
  margin-top: 15px;
  left: 25%;
}
.template-search main-search .predictive-search #predictive-search-results {
  text-align: center;
}
.template-search main-search .predictive-search #predictive-search-results ul {
  /* display: flex; */
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
header .icon {
  color: #fff;
  width: 30px;
  cursor: pointer;
}
.close-btn svg {
  max-height: 30px;
  max-width: 30px;
  fill: #fff;
}
.template-search main-search .search .input-field button {
  border: none;
  font-size: 13px;
  font-family: inherit;
  line-height: 1;
  align-items: center;
  padding: 15px;
  border-radius: 3px;
  justify-content: center;
}
.template-search main-search .search .input-field .search__button {
  background: transparent;
}
main-search .predictive-search button {
  width: 50%;
}
.template-search .template-search__header p {
  margin-left: 70px;
  margin-top: 30px;
}
.template-search .template-search__header h1 {
  margin-top: 30px;
  text-align: center;
  /* margin-left: 30px; */
}
.search__button .icon {
  max-height: 20px;
  max-width: 30px;
}
.template-search main-search .search .input-field .search__input {
  border: 1px solid;
  padding-left: 5px;
}
.template-search main-search .search .input-field .search__input:focus-visible {
  outline: none;
}
/* Pop up search box */
.popup-search {
  display: none;
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
}
.search-open {
  z-index: 99;
  position: relative;
  display: block;
  overflow: hidden;
  transform: translateY(0);
  /* transition: display 0.15s ease-in-out; */
}
header predictive-search {
  width: 100%;
  padding-top: 15px;
  background: #000;
}
header predictive-search form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 15px;
}
header .inner_search {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
}
.search-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}

@media screen and (max-width: 340px) {
  .header predictive-search form input {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .predictive-search {
    right: 1px;
    margin-left: 1px;
  }
}
@media only screen and (max-width: 750px) {
  .template-search main-search .predictive-search {
    z-index: 1;
    width: 100%;
    margin-top: 15px;
    left: 0;
  }
}
