/* Dark theme  */
body.dark-theme{
  background:var(--black);
  color:var(--white);
}
body.dark-theme .header-nav__menu-item .hamburger-inner:after,
body.dark-theme .header-nav__menu-item .hamburger-inner:before{

  background-color:var(--white);
}
body.dark-theme .header-container,body.dark-theme .header-nav__menu-item .hamburger{
  background:var(--black);
  color:var(--white);
}
body.dark-theme .header-container svg{
  fill:var(--white);
}
body.dark-theme .media-grid__item svg{
  fill: var(--white);
  border: 1px solid var(--white);
}