<main role="main" id="MainContent">
  <div class="layout-main-content">
    <div id="shopify-section-404" class="shopify-section">
      <div class="layout-content-wrapper" data-section-id="404" data-section-type="fourofour">
        <div class="four04">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="four04__content col-md-20 col-sm-20 col-20">
                <h1 class="four04__title">OOPS!</h1>

                <div class="four04__admin-subtitle">
                  <p>I think you're lost buddy. Let's take you <a href="/" title="/">back home</a></p>
                </div>
                <predictive-search>
                <div class="four04__search-section">
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search">
                    <div class="form-group">
                      {%- render 'icon' with 'search' -%}
                  
                      <input
                        type="search"
                        name="q"
                        placeholder="{{ 'general.search.search' | t }}"
                        class="four04__search-input"
                        autocomplete="off"
                        value=""
                        data-search-input=""
                      >

                      <button type="submit" class="four04__search-submit">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          role="presentation"
                          class="icon icon-arrow"
                          viewBox="0 0 90 90"
                        >
                          <g fill="none" fill-rule="evenodd">
                              <path fill="#121212" d="M64.948 19l24.873 25.813L90 45 65.193 71l-6.682-7.003L71.863 50H0V40h71.866L58.511 26.004 64.948 19z"></path>
                          </g>
                        </svg>

                        <span class="icon-fallback-text">Search </span>
                      </button>
                    </div>
                      <input name="options[prefix]" type="hidden" value="last">
                  </form>
                  <div id="predictive-search" class="predictive-search" tabindex="-1"></div>
                </div>
</predictive-search>
                
              </div>
            </div>
          </div>
          <img
            src="//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813"
            srcset="//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=48 48w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=85 85w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=90 90w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=112 112w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=256 256w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=320 320w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=480 480w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=640 640w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=750 750w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=828 828w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=1080 1080w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=1200 1200w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=1920 1920w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=2048 2048w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=3840 3840w"
            class="four04__bg-image"
            sizes="100vw"
            loading="lazy"
            alt=""
          >
        </div>
      </div>
    </div>
  </div>
</main>
