<main role="main" id="MainContent">
  <div class="layout-main-content">
    <div id="shopify-section-404" class="shopify-section">
      <div class="layout-content-wrapper" data-section-id="404" data-section-type="fourofour">
        <div class="four04">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="four04__content col-xl-14 col-lg-14 col-md-20 col-sm-20 col-20">
                <h1 class="four04__title">OOPS!</h1>

                <div class="four04__admin-subtitle">
                  <p>I think you're lost buddy. Let's take you <a href="/" title="/">back home</a></p>
                </div>

               <predictive-search>
                  <form class="container" action="{{ routes.search_url }}" method="get" role="search">
                    <input
                      id="Search"
                      type="search"
                      name="q"
                      value="{{ search.terms | escape }}"
                      role="combobox"
                      aria-expanded="false"
                      aria-owns="predictive-search-results"
                      aria-controls="predictive-search-results"
                      aria-haspopup="listbox"
                      aria-autocomplete="list"
                      placeholder="Search"
                    >
                 
                     <span class="close-btn">{%- render 'icon' with 'close' -%}</span>
                    <input name="options[prefix]" type="hidden" value="last">
                  
                    
                  </form>
                    <div id="predictive-search" class="predictive-search" tabindex="-1"></div>
              </predictive-search>

                
              </div>
            </div>
          </div>
          <img
            src="//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813"
            srcset="//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=48 48w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=85 85w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=90 90w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=112 112w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=256 256w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=320 320w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=480 480w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=640 640w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=750 750w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=828 828w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=1080 1080w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=1200 1200w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=1920 1920w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=2048 2048w,//municipal.com/cdn/shop/files/municipal-static.gif?v=1613606813&amp;width=3840 3840w"
            class="four04__bg-image"
            sizes="100vw"
            loading="lazy"
            alt=""
          >
        </div>
      </div>
    </div>
  </div>
</main>
